// Colours
$vue-brand: #42b883;
$twitter-dark-background: #10171e;
$meetup-grey-background: #f6f7f8;
$meetup-card-date: #0098ab;

// Shadows
$meetup-card: 0 0 4px 0 rgba(46, 62, 72, 0.12), 0 4px 12px 0 rgba(46, 62, 72, 0.12);
$twitter-card: 0 0 4px 0 rgba(29, 161, 242, 1), 0 4px 12px 0 rgba(29, 161, 242, 1);
