.future-events {
	&__heading {
		color: $vue-brand;
	}

	&__url {
		&:hover,
		&:focus {
			box-shadow: $meetup-card;
			transform: translateY(-1px);
		}
	}

	&__event-date {
		color: $meetup-card-date;
	}
}
