.tweet-card {
	&__item {
		&:hover,
		&:focus {
			box-shadow: $twitter-card;
			transform: translateY(-1px);
		}
	}

	&__retweeted,
	&__count,
	&__likes  {
		&::before {
			display: block;
			content: "";
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&__retweeted,
	&__count {
		&::before {
			background: url('~static/retweet.svg') center no-repeat;
			height: 20px;
			width: 20px;
		}
	}

	&__likes {
		&::before {
			background: url('~static/retweet.svg') center no-repeat;
			height: 20px;
			width: 20px;
		}
	}
}
