.tweet-card {
	&__item {
		min-height: 224px;
		
		&:hover,
		&:focus {
			box-shadow: $twitter-card;
			transform: translateY(-1px);
		}
	}

	&__retweeted,
	&__count,
	&__likes  {
		&::before {
			display: block;
			content: "";
			height: 24px;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			width: 24px;
		}
	}

	&__retweeted {
		&::before {
			background: url('~static/retweet-logo-default.svg') center no-repeat;
		}
	}

	&__count {
		color: $twitter-retweet;

		&::before {
			background: url('~static/retweet-logo.svg') center no-repeat;
		}

		&::after {
			border: 0.5px solid $black;
			content: "";
			display: block;
			position: absolute;
			height: 24px;
			right: 0;
			top: 0;
		}
	}

	&__likes {
		color: $twitter-like;

		&::before {
			background: url('~static/heart-logo.svg') center no-repeat;
		}
	}
}
